<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Moq" version="4.2.1402.2112" targetFramework="net45" />
  <package id="ServiceStack" version="4.0.24" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.0.24" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.24" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.24" targetFramework="net45" />
  <package id="ServiceStack.OrmLite" version="4.0.24" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.Sqlite.Mono" version="4.0.24" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="4.0.24" targetFramework="net45" />
  <package id="ServiceStack.Server" version="4.0.24" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.24" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.93.0" targetFramework="net45" />
  <package id="Xbehave" version="1.1.0" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net45" />
</packages>