@{
    ViewBag.Title = "Chapter5 Example6 - Rent That Bike!";
}
<span data-us-spinner="{radius:20, width:8, length: 15}" data-spinner-key="mainSpinner"></span>
<div class="container" data-ng-view>
</div>
