<div class="row">
    <div class="col-md-12">
        <h1>Bicycles</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" role="button" href="#/bicycles/new">Add new bicycle</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Daily rent price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bicycle in bicycles">
                    <td>{{bicycle.id}}</td>
                    <td>{{bicycle.name}}</td>
                    <td>{{bicycle.typeName}}</td>
                    <td>{{bicycle.quantity}}</td>
                    <td>{{bicycle.rentPrice | currency}}</td>
                    <td><a class="btn btn-default" role="button" href="#/bicycles/{{bicycle.id}}/edit">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
