<div class="row">
    <div class="col-md-12">
        <h1>Customers</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" role="button" href="#/customers/new">Add new customer</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="customer in customers">
                    <td>{{customer.id}}</td>
                    <td>{{customer.firstName}}</td>
                    <td>{{customer.lastName}}</td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.phone}}</td>
                    <td><a class="btn btn-default" role="button" href="#/customers/{{customer.id}}/edit">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
