<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>Welcome to Rent That Bike!</h1>
            <p>The best place to rent a bike.</p>
            <p>
                <a class="btn btn-primary btn-lg" role="button" href="#/rentals/new">Add new rental</a>
                <a class="btn btn-primary btn-lg" role="button" href="#/customers/new">Add new customer</a>
                <a class="btn btn-primary btn-lg" role="button" href="#/bicycles/new">Add new bicycle</a>
            </p>
        </div>
    </div>
</div>